<section class="contact-form col-md-8 offset-md-2 col-12">
    <h3>Contacta con nosotros para m&aacute;s informaci&oacute;n</h3>
    <p>También puedes contactarnos a traves del telefono 614159265</p>
    <form id="main-form" class="contact-form" name="contact-form" method="post" action="/form">

        <div class="form-group">
            <label>
                Nombre
            </label>
            <input type="text" name="name" class="form-control" required="required" />
        </div>

        <div class="form-group">
            <label>
                Email de contacto
            </label>
            <input type="email" name="visitor email" class="form-control" required="required" />
        </div>

        <div class="form-group">
            <label>
                Mensaje
            </label>
            <textarea name="message" id="message" required="required" class="form-control" rows="8"></textarea>
        </div>

        <div class="form-group">Al pulsar en el siguiente bot&oacute;n "Enviar" acepta nuestra <a href="../../../gdpr" target="_blank">pol&iacute;tica de privacidad</a>
        <div class="form-group"><button type="submit" class="btn btn-primary">Enviar</button></div>
        </div>
    </form>
</section>