<section class="title-with-elements background-color-transparent">
    <div class="offset-md-3 col-md-6 justify-content-center">
        <h3>Titulo de la sección</h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium tincidunt lacus, quis condimentum tellus tempus pretium. Phasellus et mauris nec risus lacinia dapibus id ac ante. In sagittis lobortis lacus ac efficitur. Etiam ac mi nibh. Integer tempus vitae tellus varius iaculis. Suspendisse sit amet sodales urna, eu facilisis velit. Donec vulputate, leo quis viverra tempor, eros urna accumsan nibh, in pretium mi velit ac sapien.</p>
    </div>
    <div class="justify-content-center">
        <div class="col-md-2 twe-body-element"><i class="fas fa-child fa-7x"><span></span></i>
            <p>Descripción elemento 1</p>
        </div>
        <div class="col-md-2 twe-body-element"><i class="fas fa-heartbeat fa-7x"><span></span></i>
            <p>Descripción elemento 2</p>
        </div>
        <div class="col-md-2 twe-body-element"><i class="fas fa-globe-africa fa-7x"><span></span></i>
            <p>Descripción elemento 3</p>
        </div>
    </div>
</section>