<section class="wide-background-titled" style="background-image: url('/images/common/jumbo_background.jpg');">
    <div class="wbt-text-layer col-md-7 col-11">
        <h1>Titulo <strong>website</strong></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras suscipit dolor ac mi sodales, quis mollis lorem finibus. Aliquam aliquam augue eu nisi interdum sagittis. Praesent fringilla neque ut iaculis varius. Pellentesque semper, neque quis elementum fermentum, libero mi vestibulum sem, non interdum urna turpis sit amet eros. Donec in tincidunt purus. Maecenas vestibulum magna blandit imperdiet elementum. Curabitur convallis mauris ullamcorper molestie accumsan. Sed et accumsan turpis, non maximus odio. Nam sagittis, elit non mollis fringilla, nibh arcu volutpat metus, euismod accumsan eros augue ut metus. Morbi leo sem, hendrerit id libero in, accumsan hendrerit urna. </p>
    </div>
</section>