{% extends "layout.twig" %}

{% block contents %}


    <section class="nx-center">


            <h1>Aviso legal</h1>

            <h2>Acerca de las cookies, Política de privacidad y Términos y condiciones</h2>

            <p>En {{ site_domain }} recopilamos determinada información del visitante mediante cookies (herramienta proporcionada por su navegador para poder guardar información de texto) para su posterior tratamiento:</p>

            <ul>
                <li>
                    Análisis de las visitas de los usuarios mediante las herramientas Google Analytics y Hotjar.
                    Éstas nos permiten registrar cual es el uso e interacción de los usuarios en nuestro sitio web de forma anónima,
                    para un posterior análisis utilizado para estudiar las posibles mejoras a ofrecer a los visitantes.
                </li>

                <li>
                    Al utilizar el formulario de contacto, ni su nombre ni cuenta de email serán almacenados en ningún fichero para su posterior tratamiento masivo,
                    únicamente será registrado en un servidor de correo para ofrecer una respuesta al email de contacto en caso que el motivo de contacto solicite
                    algún tipo de información por parte de este sitio web.
                </li>
            </ul>

            <p>
                A estos datos tendrán acceso única y exclusivamente los administradores de este sitio web, sin cesión alguna,
                por parte de los propios gestores, hacia terceras empresas.
            </p>

            <p>
                En caso que el usuario de este sitio web no acepte las herramientas anteriormente mencionadas, deberá abandonar
                este sitio web conforme a su derecho de oposición a utilizar las herramientas anteriores durante su visita.
            </p>

            {{ custom_gdpr|raw }}

    </section>

    <div class="col-3"></div>

{% endblock %}