{% extends "layout.twig" %}

{% block contents %}

    {% include '../blocks/title_text.twig' %}

    {% include '../blocks/title_text_left_image.twig' %}

    {% include '../blocks/title_text_right_image.twig' %}

    {% include '../blocks/title_with_elements.twig' %}

    {% include '../blocks/wide_background_titled.twig' %}

    {% include '../blocks/form.twig' %}

    <hr>

{% endblock %}