{% extends "layout.twig" %}
{% block contents %}

<div class="container">

        <section id="articles">

            {% for item in page_content.items %}
                <article>

                    <h2><a href="/{{ model_name }}/{{ item.seo_name }}">{{ item.title }}</a></h2>

                    <div class="article-content">
                        {{ item.content|raw }}
                    </div>

                    <div class="article-footer">
                        {{ item.created_at }}
                    </div>

                </article>
            {% endfor %}

        </section>

</div>
{% endblock %}