<div id="social_networks">
    {% for sn, config in config.social_networks %}
        <a title="{{ sn }}" href="{{ config.url }}" target="_blank" rel="nofollow"><i class="fab fa-{{ sn }} fa-2x">&nbsp;</i></a>
    {% endfor %}
</div>

<div id="footer_content">
        {% if config.footer.text is not null %}
                {{ config.footer.text }} |
        {% endif %}

        <a href="/gdpr">Aviso legal</a>
        {% if config.footer.nexin_free is null or config.footer.nexin_free == false %}
                <div id="nexin_ad"> | <a href="http://www.nexin.es">Sitio web creado por nexin.es</a></div>
        {% endif %}
</div>
