{% if config.hotjar_id is not null %}
{#<!-- Hotjar Tracking Code for www.nexin.es -->#}
{#<script>#}
    {#(function(h,o,t,j,a,r){#}
        {#h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};#}
        {#h._hjSettings={hjid:{{ config.hotjar_id }},hjsv:6};#}
        {#a=o.getElementsByTagName('head')[0];#}
        {#r=o.createElement('script');r.async=1;#}
        {#r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;#}
        {#a.appendChild(r);#}
    {#})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');#}
{#</script>#}
{% endif %}