<div id="language_picker" style="float: right">
    <ul class="languagepicker roundborders large">
        {% if current_language is not null %}
            <a href="{{ page_content.multilang_seo_names.current_language }}?lang={{ current_language }}"><li><img src="/plugins/flags/blank.gif" class="flag flag-{{ current_language }}"/>{{ languages[current_language]['native'] }}</li></a>
        {% endif %}
        {% for language in config.languages %}
            {% if language != current_language %}
                {# already printed before #}
                <a href="{{ page_content.multilang_seo_names[language] }}?lang={{ language }}"><li><img src="/plugins/flags/blank.gif" class="flag flag-{{ language }}"/>{{ languages[language]['native'] }}</li></a>
            {% endif %}
        {% endfor %}
    </ul>
</div>
