{% if 1 or display_message_terms_and_conds %}
    <div id="message_terms_and_conds">
        Utilizamos cookies para conseguir una mejor experiencia de usuario. <a target="_blank" href="/gdpr">Leer política de uso</a>
        <button class="btn btn-sm btn-warning">Aceptar</button>
    </div>
{% endif %}