<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--
        <meta name="google-site-verification" content="">
        <link rel="alternate" hreflang="en" href="http://config.url/en">
        -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="robots" content="index,follow">
        <link rel="canonical" href="{{ config.url }}">
        <meta name="description" content="{{ config.seo_content }}">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="/styles/{{ config.site.id }}.css">

        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/javascript/{{ config.site.id }}.js"></script>

        <title>{{ config.title }}</title>

        {% include 'modules/head_tag_manager.twig' with {'config': config} %}
    </head>

    <body id="{{ config.site.id }}">

        <header>
            {% if alert_message is not null %}
                <div class="alert alert-primary">{{ alert_message }}</div>
            {% endif %}
            <div class="container">
                {% if config.logo is not null %}
                <img id="logo" src="{{ config.logo }}">
                {% endif %}
                {% if config.languages is not null %}
                    {% include 'modules/language_picker.twig' %}
                {% endif %}
                {% include 'modules/navbar.twig' with {'navbar': navbar, 'config': config } %}

            </div>
        </header>

        <main id="{{ page_id }}">

        {% block contents " " %}

        </main>


        <footer>
            {% include 'modules/message_terms_and_conds.twig' %}
            {% include 'modules/footer.twig' with {'navbar': navbar } %}
        </footer>


    </body>
</html>
