$contact-form-bgcolor: #FFF !default;
$contact-form-label-color: #4E4E4E !default;

.contact-form {
  background:$contact-form-bgcolor;

  .form-group label {
    color: $contact-form-label-color;
    font-size: 14px;
    font-weight: 300;
  }

  form {
    width: 100%;
  }
}
