$twe-body-background-color: #00518e !default;
$twe-body-element-image-color: white !default;
$twe-body-element-content-color: white !default;

.title-with-elements {

  background-color: $twe-body-background-color;
  padding: 20px 0;
  text-align: center;

  .twe-body-element {
    display: inline-block;
    margin-top: 30px;
    margin-right: 25px;
    vertical-align: top;
  }

  .twe-body-element-image {
    i {
      font-size: 10em;
    }
  }

  .twe-body-element-content {
    color: $twe-body-element-content-color;
    padding-top: 15px;
  }

}

