$tti-background-color: #dbefff !default;

$tti-container-content-h3-color: #00518e !default;
$tti-container-content-p-color: #00518e !default;
$tti-container-content-i-color: #00518e !default;

.title_text_image {

  background-color: $tti-background-color;
  padding: 20px;

  .tti-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    & > div {
      display: inline-block;
    }

    .tti-container-content {
      vertical-align: top;
      max-width: 80%;
      text-align: justify;

      h3 {
        color: $tti-container-content-h3-color;
      }
      p {
        color: $tti-container-content-p-color;
      }

    }

    .tti-container-image {
      font-size: 10em;
      margin-left: 30px;
      height: 10px;

      i {
        color: $tti-container-content-i-color;
        vertical-align: super;
      }

    }

  }

}