$wbt-background-url: '/images/common/jumbo_background.jpg' !default;
$wbt-text-layer-centered: true !default;
$block-wbt-h1-color: #000 !default;
$block-wbt-h2-color: #000 !default;
$block-wbt-p-color: #000 !default;
$block-wbt-ul-type: inherit !default;
$block-wbt-li-color: #000 !default;

.wide-background-titled {

  background: url($wbt-background-url);
  background-size: cover;

  .wbt-text-layer {
    background-color: rgba(255, 255, 255, 0.8);
    @if $wbt-text-layer-centered {
        margin: auto;
    }

    padding: 10px 50px;

    h1 {
      color: $block-wbt-h1-color;
    }
    h2 {
      color: $block-wbt-h2-color;
    }
    p {
      color: $block-wbt-p-color;
    }
    ul {
      list-style-type: $block-wbt-ul-type;
    }
    li {
      color: $block-wbt-li-color;
    }
  }


}