$background-color-dark: #00518e !default;
$background-color-dark-content-color: #fff !default;
$background-color-standard: #4a83af !default;
$background-color-standard-content-color: #fff !default;
$background-color-light: #dbefff !default;
$background-color-light-content-color: #000 !default;
$background-color-transparent: transparent !default;
$background-color-transparent-content-color: $background-color-dark !default;
$background-color-white: #fff !default;
$background-color-white-content-color: #000 !default;



.background-color-dark {
  background-color: $background-color-dark !important;
  color: $background-color-dark-content-color !important;
}
.background-color-standard {
  background-color: $background-color-standard !important;
  color: $background-color-standard-content-color !important;
}
.background-color-light {
  background-color: $background-color-light !important;
  color: $background-color-light-content-color !important;
}
.background-color-transparent {
  background-color: $background-color-transparent !important;
  color: $background-color-transparent-content-color !important;
}