// modify it
// copy scss to "dyco_listing.scss" (for having the variables saved) to /sites_configurations/%site%/layout/$theme/styles/
// compile on
// https://www.sassmeister.com/
// copy css to "dyco_listing.css" on sites_configurations/%site%/layout/$theme/styles

$title_color: blue !default;

section#articles
{

  article
  {
    border: 1px dashed #DDDDDD;
    margin-top: 30px;
    h2
    {
      color: $title_color;
    }

    .article-content
    {
      background-color: #EEEEEE;
    }

    .article-footer
    {
      text-align: right;
      font-size: 10px;
      font-style: italic;
    }

  }

}

