/* https://codepen.io/axel1998/pen/RWOpXq */

$language_selector_bg_color: #1BBD36 !default;
$language_selector_color: #FFF !default;

.languagepicker {
    background-color: #FFF;
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 10px 0px 20px 0px;
    height: 40px;
    overflow: hidden;
    transition: all .3s ease;
    /*margin: 0 50px 10px 0;*/
    vertical-align: top;
    float: right;
}

.languagepicker:hover {
    /* don't forget the 1px border */
    height: 81px;
}

.languagepicker a{
    color: #000;
    text-decoration: none;
}

.languagepicker li {
    display: block;
    padding: 0px 20px;
    line-height: 32px;
    border-top: 1px solid #FFF;
}

.languagepicker li:hover{
    background-color: $language_selector_bg_color;
    color: $language_selector_color;
}

.languagepicker a:first-child li {
    border: none;
    background: #FFF !important;
}

.languagepicker li img {
    margin-right: 5px;
}

.languagepicker.roundborders {
    border-radius: 5px;
}

.languagepicker.large:hover {
    /*
    don't forget the 1px border!
    The first language is 40px heigh,
    the others are 41px
    */
    /*height: 245px;*/
}