/* configuration (configurable by site) of the main / mandatory sections of a page */

$footer-text-align: center !default;
$footer-background-color: #463685 !default;
$footer-color: #FFF !default;
$footer-color-link: #FFF !default;

$footer-social-networks-icons-color: #FFF !default;

$footer-message-tc-bgcolor: #446cdd !default;
$footer-message-tc-color: #FFF !default;
$footer-message-tc-color-link: #000 !default;

footer {
  text-align: $footer-text-align;
  background-color: $footer-background-color;
  color: $footer-color;

  #social_networks i {
    color: $footer-social-networks-icons-color;
  }

  #message_terms_and_conds {
    background-color: $footer-message-tc-bgcolor;
    color: $footer-message-tc-color;

    a {
      color: $footer-message-tc-color-link;
    }
  }

  a {
    &, &:hover, &:visited {
      color: $footer-color-link;
    }
  }

}