body {
    padding: 0;
    margin: 0;
    font-size: 13px !important;
}

header {
    width: 100%;
}

header #logo {
    max-height: 50px;
}

main {
    margin-bottom: 60px;
}

section {
    padding: 20px 0;
    margin-bottom: 40px;
}

section.wide-background-titled {
    padding: 0;
}

/* more atts on main.scss */
footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    vertical-align: middle;
}

footer #social_networks {
    display: inline-block;
}

footer #footer_content {
    display: inline-block;
    vertical-align: super;
}

#_hj_feedback_container {
    display: none !important;
}

.nx-center {
    width: 80%;
    margin: 0 auto;
}

#message_terms_and_conds {
    display: none;
    margin: 10px auto;
    z-index: 1000;
    width: -moz-fit-content;
    padding: 5px;
}

#nexin_ad {
    display: inline-block;
    margin-right: 10px;
}

/*third parties*/
.facebook-color { color: #3b5998 !important; }
.instagram-color { color: #ffdf9e !important; }
.twitter-color { color: #1da1f2 !important; }
.youtube-color { color: #cc0000 !important; }